@font-face {
	font-family: "Outfit";
	src: url("https://fonts.google.com/specimen/Outfit");
}

:root {
	--purewhite: #ffff;
	--Slategrey: hsl(212, 45%, 89%);
	--Slatedarkgrey: hsl(216, 15%, 48%);
	--Slatenavyblue: hsl(218, 44%, 22%);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Outfit", sans-serif;
	background-color: var(--Slategrey);
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.parent-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	/*	top: 50%;
	left: 50%;
	transform: translate(-20%, -50%); */
}

.qr-container {
	position: absolute;
	background-color: var(--purewhite);
	min-width: 250px;
	min-height: 60vh;
	border-radius: 5px;
}

.qr-img-container {
	padding: 5%;
	text-align: center;
}
.qr-img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: auto center;
	border-radius: 5px;
}

.qr-header-container {
	padding: 8%;
	padding-top: 5%;
}

.qr-header-container h4 {
	text-align: center;
	color: var(--Slatenavyblue);
}

.qr-header-container p {
	padding-top: 5%;
	font-size: 15px;
	color: rgb(148, 142, 142);
	text-align: center;
}
